body {
    margin-top: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #e4f9f5;
    padding: 100px;
}

.middle-container {
   
}

.skill-row {
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left;   
    width: 50%;
}

.programming-img {
    margin: 0;
    height: 300px;
}

.bottom-container {
    
}

.top-container > h1 {
    margin-block-end: 0;
    margin: 50 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

.header-img {
    height: 600px;
    margin-top: 100px;
    border-radius: 150%;
}

h1 {    
    margin: 50 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    margin: 0 auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E

}

.bottom-cloud {
    margin-left: -200px;
    margin-top: 80px;
    position: absolute;
}

.top-cloud {
    position: relative;
    display: block;
    margin-left: 75%;
}

.head {
    margin: 0 auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-size: 2rem;
}

.profile > img {
    height: 300px;
    border-radius: 100%;
}

a {
    color: #11999E
}