body {
    margin-top: 0;
    text-align: center;
}

.top-container {
    background-color: #e4f9f5;
    height: 200px;
    width: 200px;
}

.middle-container {
    background-color: #031613;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: #1c7255;
    height: 200px;
    width: 200px;
}

h1 {
    margin-top: 0;
}