body {
    margin-top: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #e4f9f5;
    padding: 100px;
}

.middle-container {
    
}

.bottom-container {
    
}

h1 {    
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;

}

.bottom-cloud {
    position: absolute;
}

.top-cloud {
    position: relative;
    display: block;
    margin-left: 60%;
}

.head {
    text-decoration: underline;
}

.profile > img {
    height: 200px;
    border-radius: 100%;
}